@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@function pxToEm($n) {
  @return ($n/16) + em;
}

div, section, nav, header {
  /* border: 1px solid red; */
}

body {
    margin: 0;
}

/* Essentiell kod*/

img, svg {
  width: 300px;
  height: 400px;
}

main > * {
    border: 1px solid blue;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    border-right: 20px solid yellow;
    height: 100vh;
    width: 7.2vw;
    background-color: black; /* Remove this later */
}



.header-text {
    writing-mode: vertical-rl;
    text-orientation: upright; 
    white-space: nowrap; 
    font-size: 4.5vh;
    display: flex;
    justify-content: center;
    gap: pxToEm(28);
    letter-spacing: pxToEm(5);
    padding-top: pxToEm(16);
    font-family: 'Quicksand', sans-serif;
    color:white;
}

/* .icon-hamburger-menu {
    width: 5vw;
    height: 10vh;
  } */

  .material-symbols-outlined {
    color: yellow;
    font-size: 5vw !important;
  } 

.page-1 {
    grid-column: 2 / 13;
    display: flex;
    flex-direction: column;
}

.page-1 > *, .page-1-top-section > * {
    border: 1px solid blue;
}

.page-1-top-section {
    display: flex;
    height: 50vh;
}

.page-title {
    width: 50vw;
}

.page-title > :nth-child(2) {
    display: none;
}

