@function pxToEm($n) {
  @return ($n/16) + em;
}

body {
    margin: 0;
}

//// Variables \\\\
$side-border: 1.2vw solid yellow;
$jockey-one: "Jockey One", sans-serif;
$quicksand: "Quicksand", sans-serif;

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 100vh);
    column-gap: 16px;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 8.4vw;
    background-color: black; 

    .header-text {
        writing-mode: vertical-rl;
        text-orientation: upright; 
        white-space: nowrap; 
        font-size: 4.5vh;
        display: flex;
        justify-content: center;
        gap: pxToEm(28);
        letter-spacing: pxToEm(5);
        padding-top: pxToEm(16);
        font-family: 'Quicksand', sans-serif;
        color:white;
    }

    .nav-bar > #icon-hamburger-menu {
        color: yellow;
        font-size: 5vw;
      } 
    
}
 
//////////////// PAGE 1 STYLING \\\\\\\\\\\\\\\\\
.page-1 {
    grid-column: 2 / 13;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-left: $side-border;
    border-right: $side-border;


    ///// PAGE 1 TOP SECTION \\\\\
    .page-1-top-section {
        display: flex;
        height: 50vh;

        .page-title {
            width: 75vw;
        
            :nth-child(1), :nth-child(2), :nth-child(3) {
                position: absolute;
                text-transform: uppercase;
            }
        
            :nth-child(1) {
                font-size: 5vh;
                top: 7%;
                left: 28.9%;
                font-family: 'Jockey One', sans-serif;
                color: purple;            
            }
            
            :nth-child(2) {
                 font-size: 13vh;
                 top: 0.1%;
                 left: 21.15%;
                 font-family: 'Jockey One', sans-serif;
                 color: #00FF38;
                 z-index: 1;
             
             
             }
        
            :nth-child(3) {
                 font-size: 5vh;
                 top: 19.5%;
                 left: 22.2%;
                 font-family: 'Jockey One', sans-serif;
                 color: yellow;            
             }
        }

        .food-description-top {
            width: 135vw;
            color: #00FF38;

            > p {
                margin: 0;
                font-size: 5vh;
                font-family: $jockey-one;
            }
        }
    }
    ///// PAGE 2 BOTTOM SECTION \\\\\
    .page-1-bottom-section {
        height: 50vh;
        width: 100%;
        display: flex;
        color: white;

        .page-1-img {
            height: 100%;
            width: 85vw;
            position: relative;

            .arrow-down {
                position: absolute;
                transform: rotate(90deg);
                top: 85%;
                width: 3vw;
                height: 4vh;
                transition: transform 0.4s;
            }

            .arrow-down:hover {
                transform: rotate(90deg) translateX(10px);
            }

            .img-lettuce {
                width: 90%;
                height: 100%;
            }
        }

        .food-description-bottom {
            background-color: white;
            border-left: 1.2vw solid yellow;
            font-family: $jockey-one;
            color: #ac76ff;
            height: 100%;
            width: 100%;
            font-size: 2.5vw;

            .food-paragraph {
                margin: 0;
            }

            span {
                color: black;
                display: inline-block;
            }

            .arrow-right {
                width: 3vw;
                height: 3vh;
            }
        }

    }
}


//////////////// PAGE 2 STYLING \\\\\\\\\\\\\\\\\

.page-2 {
    border-left: $side-border;
    border-right: $side-border;
    background-color: yellow;
    grid-column: 2 / 13;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 2vh;


    .img-container-dishes {
        display: flex;
        gap: 1.5vw;
        margin-top: 2vh;
        height: 44vh;

        .img-1 {
            flex: 1.5;
            object-fit: cover;
        }

        .img-2 {
            flex: 2;
            object-fit: cover;
        }
        .img-3 {
            flex: 2;
            object-fit: cover;
        }
    }

    .menu-container {
        display: flex; 
        flex-direction: column;
        gap: 1vh;

        .items {
            position: relative;
            display: flex;
            align-items: center;
            height: 6vh;
            border-top: 1px solid black;
            border-bottom: 1px solid black;
            background-color: white;

            .left-side {
                display: flex;
                align-items: center;
                gap: 0.5vw;
                text-transform: uppercase;
                font-family: $jockey-one;
                font-size: 1.8vw;
                margin-left: 1vw;
            }

            .hightlights {
                font-size: 0.75vw;
                font-family: 'Times New Roman', Times, serif;
                width: 3.5vw;
                text-align: center;
            }

            .hl-container-1 {
                transform: rotate(4deg);
                background-color: #ac76ff;
                .hightlight-1 {
                    display: inline-block;
                    transform: rotate(-4deg); 
                }
            }

            .hl-container-2 {
                transform: rotate(-4deg);
                background-color: #00FF38;
                .hightlight-2 {
                    display: inline-block;
                    transform: rotate(4deg); 
                }
            }

            .hl-container-3 {
                background-color: yellow;
            }
            

            .center {
                position: absolute;
                left: 35%;
                font-size: 1vw;
                font-family: $quicksand;
            }

            .right-side {
                position: absolute;
                right: 2vw;
                font-size: 2vw;
                font-family: $jockey-one;
            }
            
        }

    }
}


//////////////// PAGE 3 STYLING \\\\\\\\\\\\\\\\\

.page-3 {
    border-left: 1.2vw solid white;
    background-color: #00FF38;
    grid-column: 2 / 13;
    grid-row: 3 / 4;
    display: flex;

    .contact-form {
        border: 1px solid green;
        width: 50%;
        height: 100%;

        h2 {
            text-transform: uppercase;
            font-size: 3.5vw;
            font-family: $jockey-one;
            font-weight: 400;
            position: relative;
            top: 18vh;
            left: 2vw;
        }

        ul {
            list-style-type: none;
            font-size: 2.5vw;
            font-family: $jockey-one ;
            text-transform: uppercase;
            position: relative;
            top: 12vh;

            li:nth-child(-n+6) {
                display: flex;
                align-items: center;
                position: relative;
                input, textarea {
                    width: 20vw;
                    height: 4.5vh;
                    border-radius: 1vh;
                    border: none;
                    position: absolute;
                    left: 30%;
                }
            }

            .buttons {
                display: flex;
                align-items: center;
                gap: 1vw;
                .reset-button::first-line, .submit-button::first-line {
                    text-transform: uppercase;
                }

                .reset-button, .submit-button {
                    height: 4vh;
                    border-radius: 1vh;
                    border: 0;
                    width: 16vw;
                    font-family: $jockey-one;
                    font-size: 1.3vw;
                }

                .reset-button {
                    background-color: #ac76ff;
                }

                .submit-button {
                    background-color: yellow;
                }
            }
        }
    }

    .info-container {
        width: 50%;
        height: 100%;

        .contact-info {
            width: 30vw;
            height: 60vh;
            position: relative;
            top: 20%;
            left: 13%;
            object-fit: cover;
        }

    }

}