@function pxToEm($n) {
  @return ($n/16) + em;
}


body {
    margin: 0;
}

/* Essentiell kod*/

img, svg {
  width: 300px;
  height: 400px;
}

main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 100vh);
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 8.4vw;
    background-color: black; /* Remove this later */

    .header-text {
        writing-mode: vertical-rl;
        text-orientation: upright; 
        white-space: nowrap; 
        font-size: 4.5vh;
        display: flex;
        justify-content: center;
        gap: pxToEm(28);
        letter-spacing: pxToEm(5);
        padding-top: pxToEm(16);
        font-family: 'Quicksand', sans-serif;
        color:white;
    }

    .nav-bar > #icon-hamburger-menu {
        color: yellow;
        font-size: 5vw;
      } 
    
}
 
//////////////// PAGE 1 STYLING \\\\\\\\\\\\\\\\\
.page-1 {
    grid-column: 2 / 13;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    background-color: black;
    border-left: 1.2vw solid yellow;
    border-right: 1.2vw solid yellow;

    .page-1-top-section {
        display: flex;
        height: 50vh;

        .page-title {
            width: 75vw;
        
            :nth-child(1), :nth-child(2), :nth-child(3) {
                position: absolute;
                text-transform: uppercase;
            }
        
            :nth-child(1) {
                font-size: 5vh;
                top: 7%;
                left: 28.9%;
                font-family: 'Jockey One', sans-serif;
                color: purple;            
            }
            
            :nth-child(2) {
                 font-size: 13vh;
                 top: 0.1%;
                 left: 21.15%;
                 font-family: 'Jockey One', sans-serif;
                 color: #00FF38;
             
             
             }
        
            :nth-child(3) {
                 font-size: 5vh;
                 top: 19.5%;
                 left: 22.2%;
                 font-family: 'Jockey One', sans-serif;
                 color: yellow;
            
             }
        }

        .food-description-top {
            width: 135vw;
            color: #00FF38;

            > p {
                margin: 0;
                font-size: 5vh;
                font-family: "Jockey One", sans-serif;
            }
        }
    }

    .page-1-bottom-section {
        height: 50vh;
        width: 100%;
        display: flex;
        color: white;

        .page-1-img {
            height: 100%;
            width: 85vw;
            position: relative;

            .arrow-down {
                position: absolute;
                transform: rotate(90deg);
                top: 85%;
                width: 3vw;
                height: 4vh;
            }

            .img-lettuce {
                width: 90%;
                height: 100%;
            }
        }

        .food-description-bottom {
            background-color: white;
            border-left: 1.2vw solid yellow;
            font-family: "Jockey One", sans-serif;
            color: purple;
            height: 100%;
            width: 100%;
            font-size: 2.5vw;

            .food-paragraph {
                margin: 0;
            }

            span {
                color: black;
                display: inline-block;
            }

            .arrow-right {
                width: 3vw;
                height: 3vh;
            }
        }

    }
}