html, body {
  overflow-x: hidden;
}

body {
  margin: 0; 
}

//   .-.-.            .-.-. 
//  / / \ \  HEADER  / / \ \ 
// `-'   `-`        `-'   `-`

header {
  background-color: black; 
  display: flex; 
  align-items: center; 
  .header-text {
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Quicksand", sans-serif;
  }

  .nav-bar > #icon-hamburger-menu {
    color: yellow;
  }
}

//   .-.-.                            .-.-. 
//  / / \ \  HAMBURGER MENU STYLING  / / \ \ 
// `-'   `-`                        `-'   `-`

.hamburger-menu {
  position: fixed; 
  background-color: #AA75FF; 
  z-index: 2; 
  transition: transform 0.5s ease; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  font-family: "Jockey One", sans-serif;
  color: white; 
  gap: 4vh; 
}

//   .-.-.            .-.-. 
//  / / \ \  PAGE 1  / / \ \ 
// `-'   `-`        `-'   `-`

.page-1 {
  background-color: black; 

  .page-1-bottom-section {
    display: flex; 
    color: white; 

    .page-1-img {
      height: 100%; 

      .arrow-down {
        position: absolute;
        transform: rotate(90deg); 
      }
    }

    .food-description-bottom {
      font-family: "Jockey One", sans-serif; 
      background-color: white; 
      color: #ac76ff; 

      span {
        color: black; 
      }
    }

  }

}

//   .-.-.            .-.-. 
//  / / \ \  PAGE 2  / / \ \ 
// `-'   `-`        `-'   `-`


.page-2 {
  
  .img-container-dishes {
    display: flex; 
  }

  .menu-container {
    display: flex; 
    flex-direction: column; 
    gap: 1vh; 

    .items {
      position: relative; 
      display: flex; 
      align-items: center; 
      background-color: white; 
      border-top: 1px solid black; 
      border-bottom: 1px solid black; 

      .left-side {
        display: flex; 
        align-items: center; 
        text-transform: uppercase; 
        font-family: "Jockey One", sans-serif; 

        .hightlights{
          font-family: 'Times New Roman', Times, serif; 
          text-align: center; 
        }

        .hl-container-1 {
          transform: rotate(4deg); 
          background-color: #ac76ff; 

          .hightlight-1 {
            display: inline-block; 
            transform: rotate(-4deg); 
          }
        }

        .hl-container-2 {
          transform: rotate(-4deg); 
          background-color: #00FF38; 

          .hightlight-2 {
            display: inline-block; 
            transform: rotate(4deg); 
          }
        }

        .hl-container-3 {
          background-color: yellow; 
        }
      }

      .center {
        font-family: "Quicksand", sans-serif; 
      }

      .right-side {
        font-family: "Jockey One", sans-serif; 
      }
      

      
    }
  }
}

//   .-.-.            .-.-. 
//  / / \ \  PAGE 3  / / \ \ 
// `-'   `-`        `-'   `-`


.page-3 {
  background-color: #00FF38; 

  .contact-form {

    h2 {
      text-transform: uppercase; 
      font-family: "Jockey One", sans-serif; 
      font-weight: 400; 
    }

    ul {
      list-style-type: none; 
      font-family: "Jockey One", sans-serif; 
      text-transform: uppercase; 

      li:nth-child(-n+6) {
        display: flex; 

        input, textarea {
          border-radius: 0.25rem; 
          border: none; 
        }
      }

      .buttons {
        display: flex; 

        .reset-button, .submit-button {
          border-radius: 0.5rem; 
          border: none; 
          font-family: "Jockey One", sans-serif; 
          color: black; 
          text-transform: uppercase; 
        }

        .reset-button {
          background-color: #AA75FF; 
        }

        .submit-button {
          background-color: yellow; 
        }
      }
    }
  }

  .info-container {
    position: relative; 

    .contact-img {
      object-fit: cover; 
      filter: blur(3px); 
    }

    .contact-info {
      color: rgb(113, 217, 251); 
      font-family: "Jockey One", sans-serif; 

      .rows {
        position: absolute; 
        display: flex; 
        align-items: center; 
        gap: 20px; 
      }
    }
  }
}

//   .-.-.              .-.-. 
//  / / \ \  COOKIES   / / \ \ 
// `-'   `-`          `-'   `-`


.cookies {
  background-color: #AA75FF;
  display: flex;
  align-items: center;

  span {
    color: white;
    font-size: 1.25vw;
    font-family: "Quicksand", sans-serif;
  }

  .cookie-buttons {

    button {
      border: none;
      border-radius: 1rem;
      text-transform: uppercase;
      font-family: "Jockey One", sans-serif;
      color: black;
    }

    .decline-button {
      background-color: yellow;
    }

    .accept-button {
      background-color: #00FF38;
    }

  }
}

//   .-.-.                   .-.-. 
//  / / \ \  Media Queries  / / \ \ 
// `-'   `-`               `-'   `-`

@media screen and (max-width: 1279px) {
  @import "mobile";
}

@media screen and (min-width: 1280px) {
  @import "desktop";
}