html, body {
  overflow-x: hidden;
}

body {
  margin: 0; // DUPE
}


header {
  background-color: black; // DUPE
  display: flex; // DUPE
  align-items: center; // DUPE
  .header-text {
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    color: white;
    font-family: "Quicksand", sans-serif;
  }

  .nav-bar > #icon-hamburger-menu {
    color: yellow;
  }
}

.page-1 {
  background-color: yellow; // Change

}



@media screen and (max-width: 1279px) {
  @import "mobile";
}


@media screen and (min-width: 1280px) {
  @import "desktop";
}

